{{define "header2"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoPulse</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    <script src="https://kit.fontawesome.com/4e7e922e98.js" crossorigin="anonymous"></script>
</head>
<body>
 <div class="navbar">
  <a href="/">GoPulse</a>
  <div class="nav-actions">
    <div class="dropdown">
      <button class="dropbtn" onclick="this.parentElement.classList.toggle('open')">
        <i class="fa-solid fa-user-shield"></i> Account <span class="drop-arrow">&#9662;</span>
      </button>
      <div class="dropdown-content">
        <a href="NEEDTOCREATE"><i class="fa-solid fa-file-lines"></i> My Posts</a>
        <form method="get">
          <button name="liked-post" value="liked-post"><i class="fa-solid fa-heart"></i> Liked Posts</button>
        </form>
        <div class="dropdown-divider"></div>
        <a href="logout" class="dropdown-logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</a>
      </div>
    </div>
  </div>
 </div>
{{end}}
